.bottom{
    background-color: white;
    color: black;
    display: flex;
    /*flex-wrap: wrap;*/
    margin: 5% 0%;
    justify-content: space-evenly;
}

.infodetail{
    width: 200px;
    text-align: center;
}

h3 {
    font-size: 5px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.infodetail.p {
    font-size: 1.4rem;
    font-weight: 300;
    margin-top: 0;
    
}

img{
    width: 30px;
    height: 30px;
}